﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Baza_sprzetu_przydzielonego_pracownikom.Default" %>

<asp:Content ID="BodyContent" style="margin-left: 160px; padding: 160px"  ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
    <input type="submit" Value="SignIn" runat="server" id="cmdSignOut">


    </div>

</asp:Content>