﻿<%@ Page Title="Contact" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="EkranGlowny.aspx.cs" Inherits="Baza_sprzetu_przydzielonego_pracownikom.Contact" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  margin-left: 160px
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>
    <script language="C#" runat="server">
      void ImageButton_Click(object sender, ImageClickEventArgs e) 
      {
          Response.Redirect("RezerwacjaNarzedzia.aspx");
      }
   </script>
</head>
<body>

<div class="grid-container">
    <asp:ImageButton ID="top1" runat="server" ImageUrl="https://d1yn1kh78jj1rr.cloudfront.net/image/thumbnail/HGATaVJubj6casdeu/storyblocks-hand-with-hammer-icon-vector-illustration-graphic-design_ree-7AFyBM_thumb.jpg" OnClick="ImageButton_Click"/>
    <asp:ImageButton ID="top2" runat="server" ImageUrl="https://d1yn1kh78jj1rr.cloudfront.net/image/thumbnail/HGATaVJubj6casdeu/storyblocks-hand-with-hammer-icon-vector-illustration-graphic-design_ree-7AFyBM_thumb.jpg" OnClick="ImageButton_Click"/>
    <asp:ImageButton ID="top3" runat="server" ImageUrl="https://d1yn1kh78jj1rr.cloudfront.net/image/thumbnail/HGATaVJubj6casdeu/storyblocks-hand-with-hammer-icon-vector-illustration-graphic-design_ree-7AFyBM_thumb.jpg" OnClick="ImageButton_Click"/>
    <asp:ImageButton ID="top4" runat="server" ImageUrl="https://d1yn1kh78jj1rr.cloudfront.net/image/thumbnail/HGATaVJubj6casdeu/storyblocks-hand-with-hammer-icon-vector-illustration-graphic-design_ree-7AFyBM_thumb.jpg" OnClick="ImageButton_Click"/>
    <asp:ImageButton ID="top5" runat="server" ImageUrl="https://d1yn1kh78jj1rr.cloudfront.net/image/thumbnail/HGATaVJubj6casdeu/storyblocks-hand-with-hammer-icon-vector-illustration-graphic-design_ree-7AFyBM_thumb.jpg" OnClick="ImageButton_Click"/>
    <asp:ImageButton ID="top6" runat="server" ImageUrl="https://d1yn1kh78jj1rr.cloudfront.net/image/thumbnail/HGATaVJubj6casdeu/storyblocks-hand-with-hammer-icon-vector-illustration-graphic-design_ree-7AFyBM_thumb.jpg" OnClick="ImageButton_Click"/>
</div>

</body>
</html>

</form>
</asp:Content>

