﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Historia.aspx.cs" Inherits="Baza_sprzetu_przydzielonego_pracownikom.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
        <head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  margin-left: 160px
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>
</head>
    <body>

<div class="grid-container">
        <asp:CheckBox ID="CheckBox1" runat="server" OnCheckedChanged="CheckBox1_CheckedChanged" Text="Rezerwacje niezrealizowane" />
        <br />
    <asp:CheckBoxList ID="CheckBoxList3" runat="server" OnSelectedIndexChanged="CheckBoxList3_SelectedIndexChanged" Height="16px" Width="242px">
    </asp:CheckBoxList>
    <br />
    <asp:Button ID="Button1" runat="server" Text="Zrezygnyj z zaznaczonych" />
    <br />
    <br />
    <asp:Label ID="Label1" runat="server" Text="Historia wypożyczeń"></asp:Label>
    <br />
        <br />
        <asp:DataList ID="DataList1" runat="server">
        </asp:DataList>

</div>

</body>
</html>

</form>


</asp:Content>
