﻿<%@ Page Title="Contact" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Katygoria.aspx.cs" Inherits="Baza_sprzetu_przydzielonego_pracownikom.Contact" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  margin-left: 160px
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

</style>
     <script language="C#" runat="server">
      void ImageButton_Click(object sender, ImageClickEventArgs e) 
      {
          Response.Redirect("PodkategoriaNarzedzi.aspx");
      }
   </script>
</head>
<body>

<div class="grid-container">
    <asp:ImageButton ID="kategoria1" runat="server" OnClick="ImageButton_Click" ImageUrl="http://luk-mar.com.pl/wp-content/uploads/product/2015/10/zestaw-narzedzi-wulkanizacyjnych-8-elementow/narzedzia-300x300.png"/>
    <asp:ImageButton ID="kategoria2" runat="server" OnClick="ImageButton_Click" ImageUrl="http://luk-mar.com.pl/wp-content/uploads/product/2015/10/zestaw-narzedzi-wulkanizacyjnych-8-elementow/narzedzia-300x300.png"/>
    <asp:ImageButton ID="kategoria3" runat="server" OnClick="ImageButton_Click" ImageUrl="http://luk-mar.com.pl/wp-content/uploads/product/2015/10/zestaw-narzedzi-wulkanizacyjnych-8-elementow/narzedzia-300x300.png"/>
    <asp:ImageButton ID="kategoria4" runat="server" OnClick="ImageButton_Click" ImageUrl="http://luk-mar.com.pl/wp-content/uploads/product/2015/10/zestaw-narzedzi-wulkanizacyjnych-8-elementow/narzedzia-300x300.png"/>
    <asp:ImageButton ID="kategoria5" runat="server" OnClick="ImageButton_Click" ImageUrl="http://luk-mar.com.pl/wp-content/uploads/product/2015/10/zestaw-narzedzi-wulkanizacyjnych-8-elementow/narzedzia-300x300.png"/>
    <asp:ImageButton ID="kategoria6" runat="server" OnClick="ImageButton_Click" ImageUrl="http://luk-mar.com.pl/wp-content/uploads/product/2015/10/zestaw-narzedzi-wulkanizacyjnych-8-elementow/narzedzia-300x300.png"/>
</div>

</body>
</html>

</form>
</asp:Content>

