﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ModyfikujUsera.aspx.cs" Inherits="Baza_sprzetu_przydzielonego_pracownikom.WebForm3" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
                                <head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  margin-left: 160px
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>
</head>
    <body>
        <div class="grid-container">

    <asp:Label ID="Label1" runat="server" Text="Administratorzy"></asp:Label>
            <br />
            <asp:BulletedList ID="BulletedList1" runat="server">
            </asp:BulletedList>
    <br />
    <asp:Button ID="Button1" runat="server" Text="Dodaj" OnClick="Button1_Click" />
            <asp:Button ID="Button3" runat="server" Text="Edytuj" />
    <br />
    <br />
    <asp:Label ID="Label2" runat="server" Text="Pracownicy"></asp:Label>
            <br />
    <br />
            <asp:BulletedList ID="BulletedList2" runat="server">
            </asp:BulletedList>
    <br />
    <asp:Button ID="Button2" runat="server" Text="Dodaj" OnClick="Button2_Click" />

                                        <asp:Button ID="Button4" runat="server" Text="Edytuj" />

                                        </div>

</body>
</html>

</form>
</asp:Content>
