﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ModyfikacjaNarzedziaSzczegoly.aspx.cs" Inherits="Baza_sprzetu_przydzielonego_pracownikom.ModyfikacjaNarzedzia" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
            <head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  margin-left: 160px
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>
</head>
    <body>
        <div class="grid-container">

            <asp:Label ID="Nazwda" runat="server" Text="nazwa:       "></asp:Label>

&nbsp;&nbsp;&nbsp;

<asp:TextBox ID="nazwa" runat="server" Width="227px"></asp:TextBox>
<br />
            <asp:Label ID="Label2" runat="server" Text="waga"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<asp:TextBox ID="waga" runat="server" Width="227px"></asp:TextBox>
<br />
            <asp:Label ID="Label3" runat="server" Text="parametry"></asp:Label>
<asp:TextBox ID="param" runat="server" Width="227px"></asp:TextBox>
<br />
            <asp:Label ID="Label4" runat="server" Text="stan"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<asp:TextBox ID="stan" runat="server" Width="227px"></asp:TextBox>
<br />
            <asp:Label ID="Label5" runat="server" Text="rozmiar"></asp:Label>
&nbsp;&nbsp;&nbsp;
<asp:TextBox ID="rozmiar" runat="server" Width="227px"></asp:TextBox>
            <br />
            <asp:Label ID="Label6" runat="server" Text="typ"></asp:Label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:TextBox ID="typ" runat="server" Width="227px"></asp:TextBox>
<br />
            <br />
<asp:Button ID="Button1" runat="server" Text="Dodaj" OnClick="Button1_Click" />
            <br />
            </div>

</body>
</html>

</form>
</asp:Content>
