﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ModyfikujMaterialy.aspx.cs" Inherits="Baza_sprzetu_przydzielonego_pracownikom.Modyfikujmaterialy" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
                        <head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  margin-left: 160px
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>
</head>
    <body>
        <div class="grid-container">

<asp:ListBox ID="ListBox1" runat="server" Height="21px" Width="172px"></asp:ListBox>
<br />
<asp:DataList ID="DataList1" runat="server" BackColor="White" BorderColor="#CCCCCC" BorderStyle="None" BorderWidth="1px" CellPadding="4" ForeColor="Black" GridLines="Horizontal" DataKeyField="Id" DataSourceID="SqlDataSource1">
    <FooterStyle BackColor="#CCCC99" ForeColor="Black" />
    <HeaderStyle BackColor="#333333" Font-Bold="True" ForeColor="White" />
    <ItemTemplate>
        Id:
        <asp:Label ID="IdLabel" runat="server" Text='<%# Eval("Id") %>' />
        <br />
        ilosc w magazynie:
        <asp:Label ID="ilosc_w_magazynieLabel" runat="server" Text='<%# Eval("[ilosc w magazynie]") %>' />
        <br />
        jednostka:
        <asp:Label ID="jednostkaLabel" runat="server" Text='<%# Eval("jednostka") %>' />
        <br />
        nazwa:
        <asp:Label ID="nazwaLabel" runat="server" Text='<%# Eval("nazwa") %>' />
        <br />
        <br />
    </ItemTemplate>
    <SelectedItemStyle BackColor="#CC3333" Font-Bold="True" ForeColor="White" />
</asp:DataList>
            <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:Baza_sprzetu_przydzielonego_pracownikomConnectionStringsss %>" SelectCommand="SELECT * FROM [Material]"></asp:SqlDataSource>
<br />
<asp:Button ID="Button1" runat="server" Text="Dodaj" />

                </div>

</body>
</html>

</form>
</asp:Content>
