﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PobierzZdaj.aspx.cs" Inherits="Baza_sprzetu_przydzielonego_pracownikom.PobierzZdaj" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
                                    <head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  margin-left: 160px
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>
</head>
    <body>
        <div class="grid-container">

    <asp:CheckBox ID="CheckBox1" runat="server" Text="Pobierz" />
    <br />
    <asp:CheckBoxList ID="CheckBoxList1" runat="server" Height="16px" OnSelectedIndexChanged="CheckBoxList1_SelectedIndexChanged" Width="549px" DataSourceID="SqlDataSource1" DataTextField="Id" DataValueField="Id">
    </asp:CheckBoxList>
            <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:Baza_sprzetu_przydzielonego_pracownikomConnectionStringsss %>" SelectCommand="SELECT [NarzedzieId], [Id], [UsersId], [od_kiedy] FROM [Rezerwacja] WHERE ([UsersId] = @UsersId)">
                <SelectParameters>
                    <asp:QueryStringParameter DefaultValue="szcz761@gmail.com" Name="UsersId" QueryStringField="userId" Type="String" />
                </SelectParameters>
            </asp:SqlDataSource>
    <br />
    <asp:Button ID="Button1" runat="server" Text="Pobierz zaznaczone" Width="193px" />
    <br />
    <asp:CheckBox ID="CheckBox2" runat="server" Text="Zdaj" />
    <br />
    <asp:CheckBoxList ID="CheckBoxList3" runat="server">
    </asp:CheckBoxList>
    <br />
    <asp:Button ID="Button2" runat="server" Text="Zdaj zaznaczone" OnClick="Button2_Click" />

                                                    </div>

</body>
</html>

</form>
</asp:Content>
