﻿<%@ Page Title="Contact" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PodkategoriaNarzedzi.aspx.cs" Inherits="Baza_sprzetu_przydzielonego_pracownikom.Contact" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  margin-left: 160px
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>
<script language="C#" runat="server">
      void ImageButton_Click(object sender, ImageClickEventArgs e) 
      {
          Response.Redirect("/WyborNarzedzia?katId=0");
      }
    void ImageButton_Click1(object sender, ImageClickEventArgs e) 
      {
        //href="/RezerwacjaNarzedzia?idTool=<%# Eval("Id") %>">
          Response.Redirect("/WyborNarzedzia?katId=1");
      }
   </script>
</head>
<body>

<div class="grid-container">
    <asp:ImageButton ID="podkategoria1" OnClick="ImageButton_Click" runat="server" ImageUrl="https://img.freepik.com/darmowe-ikony/m%C5%82otek-i-%C5%9Brubokr%C4%99t-narz%C4%99dzia-krzy%C5%BC_318-68869.jpg?size=338&ext=jpg"/>
    <asp:ImageButton ID="podkategoria2" OnClick="ImageButton_Click1" runat="server"  ImageUrl="http://av9.pl/img/p/458-458-large.jpg"/>
    <asp:ImageButton ID="podkategoria3" OnClick="ImageButton_Click" runat="server" ImageUrl="https://img.freepik.com/darmowe-ikony/m%C5%82otek-i-%C5%9Brubokr%C4%99t-narz%C4%99dzia-krzy%C5%BC_318-68869.jpg?size=338&ext=jpg"/>
    <asp:ImageButton ID="podkategoria4" OnClick="ImageButton_Click" runat="server" ImageUrl="https://img.freepik.com/darmowe-ikony/m%C5%82otek-i-%C5%9Brubokr%C4%99t-narz%C4%99dzia-krzy%C5%BC_318-68869.jpg?size=338&ext=jpg"/>
    <asp:ImageButton ID="podkategoria5" OnClick="ImageButton_Click" runat="server" ImageUrl="https://img.freepik.com/darmowe-ikony/m%C5%82otek-i-%C5%9Brubokr%C4%99t-narz%C4%99dzia-krzy%C5%BC_318-68869.jpg?size=338&ext=jpg"/>
    <asp:ImageButton ID="podkategoria6" OnClick="ImageButton_Click" runat="server" ImageUrl="https://img.freepik.com/darmowe-ikony/m%C5%82otek-i-%C5%9Brubokr%C4%99t-narz%C4%99dzia-krzy%C5%BC_318-68869.jpg?size=338&ext=jpg"/>
</div>

</body>
</html>

</form>
</asp:Content>

